name: CI - Build & Push

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region us-east-1 \
          | docker login --username AWS --password-stdin $(aws ecr describe-repositories --query "repositories[0].repositoryUri" --output text)

      - name: Build & Push
        run: |
          docker build -t strapi ./strapi-app
          docker tag strapi:latest $(aws ecr describe-repositories --query "repositories[0].repositoryUri" --output text):latest
          docker push $(aws ecr describe-repositories --query "repositories[0].repositoryUri" --output text):latest
